<%- include("partials/header"); -%>
    <h1 style="
    background: rgb(0, 0, 0);
    color: azure;
    width: 200px;
    border-radius: 50px;
    margin: auto;
    text-align: center;
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-bottom: 50px;
  ">Feedback</h1>
    <h3 style="color: rgb(255, 255, 255);  margin-top: 10px;
    margin-left:150px; font-family: cursive; font-size: 30px;"> <%= contactContent.substring(0,260)%>
    <b style="color: rgb(0, 0, 0);"><%= contactContent.substring(260,268)%></b><%= contactContent.substring(268)%>  </h3>
<%- include("partials/footer"); -%>
